*{
	box-sizing: border-box;
}

/* Mengatur Font yang dipakai dan background halaman */
body {
	font-family: Comic Sans MS;
	margin: 0;
	background: #00FF7F;
}

/* Membuat container menjadi layout filebox dan kotak login di tengah */
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Mengatur kotak form login lebar 400px dan background putih */
.login-box{
	margin-top: 150px;
	flex-basis: 400px;
	background: #fff;
	padding: 20px;
}

/* Mengatur judul form dengan border bawah dan posisi di tengah */
.login-box h2{
	border-bottom: 1px solid #ccc;
	color: #555;
	text-align: center;
	padding-bottom: 20px;
	margin: 0 0 20px;
}

/* Mengatur agar tag input dan select memenuhi container dan tampilan lebih bagus */
input, select{
	width: 100%;
	padding: 15px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
}

/* Mengatur tampilan tombol submit */
input[type=submit] {
	background-color: #00FF7F;
	border: none;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

/* Mengatur Desain Header */
header {
	background: #00FF7F;
	color: #fff;
	padding: 15px 20px;
	font-size: 20px;
}

/* Mengatur lebar menu 20% dengan background hitam */
aside {
	flex: 20%;
	background: #222;
}

/* Mengatur lebar konten utama 80% dengan background putih */
section.main{
	flex: 80%;
	background: #fff;
	min-height: 530px;
	padding: 15px 20px;
}

/* Mengatur footer dengan background abu-abu dan teks di tengah */
footer{
	background: #ccc;
	color: #555;
	padding: 20px;
	text-align: center;
}

/* Mengatur layout pada layar kecil (responsive) */
@media (max-width: 700px) {
	.container {
		flex-direction: column;
	}
}

/* Navigasi */

/* Membuang padding tag <ul> */
.menu {
	padding: 0;
}

/* Menambah border bawah tag <li> */
.menu li{
	border-bottom: 1px dotted #444;
}

/* Mengatur desain menu yang dibuat dengan tag a */
.menu a{
	display: block;
	padding: 20px 20px;
	list-style: none;
	color: #fff;
	text-decoration: none;
}

/* Mangganti background menu ketika ditunjuk mouse */
.menu a:hover{
	background: #000;
}

/* TABEL */

.judul{
	color: #555;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.table{
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}

.table th, .table td{
	border: 1px solid #ccc;
	padding: 10px;
	align: center;
}

.table th{
	background: #eee;
}

.tombol{
	display: inline-block;
	max-width: 150px;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
	background: #00FF00;
	cursor: pointer;
}

.tombol.edit, .tombol.hapus, .tombol.simpan, .tombol.reset{
	padding: 10px 15px;
	font-size: 12px;
}

.tombol.edit {
	background: #00BFFF;
}

.tombol.hapus{
	background: #fc4c4c;
}

/* FORM */

.form-group{
	clear: both;
}

.form-group label{
	display: block;
	padding: 15px 0;
	float: left;
	width: 30%;
	font-weight: bold;
}

.form-group .input{
	display: block;
	width: 50%;
	float: left;
}

.form-group select{
	display: block;
	width: 50%;
	float: left;
}

input[type=radio] {
	width: 50px;
}

.tombol.simpan{
	background: #00BFFF;
}

.tombol.reset{
	background: #fb8307;
}

@media (max-width: 700px) {
	.form-group label, .form-group .input {
		width: 100%;
	}
}

/**/
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

/**/
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.col-sm-6 {
  position: relative;
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}


.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.text-danger {
  color: #dc3545 !important;
}
.bg-danger {
  background-color: #dc3545 !important;
}
.text-success {
  color: #28a745 !important;
}
.bg-success {
  background-color: #28a745 !important;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.float-right {
  float: right !important;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.text-white {
  color: #fff !important;
}
a{
	display: block;
	padding: 20px 20px;
	list-style: none;
	color: #fff;
	text-decoration: none;
}

.text-primary {
  color: #007bff !important;
}
.bg-primary {
  background-color: #007bff !important;
}
.text-secondary {
  color: #FFD500 !important;
}
.bg-secondary {
  background-color: #FFD500 !important;
}
.text-info {
  color: #17a2b8 !important;
}
.bg-info {
  background-color: #17a2b8 !important;
}


/**/
table {
  border-collapse: collapse;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
  align: center;
}
.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-bordered {
  border: 1px solid #asc312;
}

.table-bordered tbody th,
.table-bordered tbody td {
  border: 1px solid #asc312;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
  align: center;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
}



/**/
